@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

body {
    font-family: "Lexend Exa", sans-serif;
    color: white;
    margin: 0;

    background-size: 400vw;
    background-color: #B1ACDF;
}

/* Fait par Yasmine */

#section1 {
    min-width: 50vw;

    display: flex;
    gap: 500px;
}

#section2 {
    min-width: 50vw;
    
    display: flex;
    gap: 500px;
}

#section3 {
    min-width: 50vw;

    display: flex;
    gap: 500px;
}

.couleur-mauve {
    background-color: #B1ACDF;
}

.couleur-bleu {
    background-color: #879CDF;
}

.couleur-vert {
    background-color: #9FE4A9;
}

/* --------------- */

.bg {
    position: fixed;
    top: 0;
    left: 0;

    pointer-events: none;
}

.back-Video {
    position: fixed;
    top: 0;
    left: 0;

    pointer-events: none;
}

.back-Video {
    width: 100vw;
    height: 100vh;

    z-index: -1;
    opacity: 0;
    object-fit: cover;
    src: url("videos/GC-Smash.mp4");
    transition: opacity 1.5s ease-in-out;

    pointer-events: none;
}

h1 {
    position: relative;
    font-size: 4em;
    color: rgb(225, 221, 255);
    z-index: -2;
}

h2 {
    position: relative;
    font-size: 1.5em;
    color: rgb(225, 221, 255);
    z-index: -2;
}

p {
    position: relative;
    margin-top: 100px;
    font-size: 1.2rem;
    color: rgb(12, 12, 12);
    z-index: -2;
}