@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

body {
    font-family: "Lexend Exa", sans-serif;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: fit-content;

    background: linear-gradient(90deg,#B1ACDF 0%, #575188 20%, #879CDF 40%,#244D8B 60%, #9FE4A9 80%, #2F6837 100%);
    background-size: 400vw;
}

.barre-navig {
    position: fixed;
    background-color: black;
    width: 1400px;
    height: 70px;
    border-radius: 25px;
    z-index: 50;

    text-align: center;
    font-size: 2.3em;
    padding-top: 25px;

    left: 15vw;
    word-spacing: 100px;
}

.noms-barre-navig {
    color: transparent;
    text-decoration: none;
}

.gamecube {
    background: linear-gradient(90deg, #FFF 0%, #7768FF 100%);
    background-clip: text;
}

.playstation {
    background: linear-gradient(90deg, #FFF 0%, #477BFF 100%);
    background-clip: text;
}

.xbox {
    background: linear-gradient(90deg, #FFF 0%, #29CA40 100%);
    background-clip: text;
}

h1 {
    font-size: 4em;
    color: rgb(225, 221, 255);
}

h2 {
    font-size: 1.5em;
    color: rgb(225, 221, 255);
}

p {
    margin-top: 100px;
    font-size: 1.2rem;
    color: rgb(12, 12, 12);
}