@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

body {
    font-family: "Lexend Exa", sans-serif;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: fit-content;

    background-size: 400vw;

    background-color: #B1ACDF;
    /* transition: background-color 0.5s ease-in-out; */

    /* animation:changementCouleur 10s infinite alternate; */
}

/* @keyframes changementCouleur {
    0% {background-color: #B1ACDF;}
    50% {background-color: #879CDF;}
    100% {background-color: #9FE4A9;}
} */

#section1 {
    min-height: 100vh;
}

#section2 {
    min-height: 100vh;
}

#section3 {
    min-height: 100vh;
}

.couleur-mauve {
    background-color: #B1ACDF;
}

.couleur-bleu {
    background-color: #879CDF;
}

.couleur-vert {
    background-color: #9FE4A9;
}




.back-Video {
    position: fixed;
    top: 0%;
    right: 0%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0;
    object-fit: cover;
    src: url("videos/GC-Smash.mp4");
    transition: opacity 1.5s ease-in-out;
}

h1 {
    position: relative;
    font-size: 4em;
    color: rgb(225, 221, 255);
    z-index: -2;
}

h2 {
    position: relative;
    font-size: 1.5em;
    color: rgb(225, 221, 255);
    z-index: -2;
}

p {
    position: relative;
    margin-top: 100px;
    font-size: 1.2rem;
    color: rgb(12, 12, 12);
    z-index: -2;
}

