@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

body {
    font-family: "Lexend Exa", sans-serif;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: fit-content;

    background: linear-gradient(90deg,#B1ACDF 0%, #575188 20%, #879CDF 40%,#244D8B 60%, #9FE4A9 80%, #2F6837 100%);
    background-size: 400vw;
}

.back-Video {
    position: fixed;
    top: 0%;
    right: 0%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0;
    object-fit: cover;
    src: url("videos/GC-Smash.mp4");
    transition: opacity 1.5s ease-in-out;
}

h1 {
    position: relative;
    font-size: 4em;
    color: rgb(225, 221, 255);
    z-index: -2;
}

h2 {
    position: relative;
    font-size: 1.5em;
    color: rgb(225, 221, 255);
    z-index: -2;
}

p {
    position: relative;
    margin-top: 100px;
    font-size: 1.2rem;
    color: rgb(12, 12, 12);
    z-index: -2;
}

