@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

body {
    font-family: "Lexend Exa", sans-serif;
    color: white;
    background-color: rgb(177, 172, 223);
    margin-left: 50px;
    margin-right: 50px;
    width: fit-content;
}

h1 {
    font-size: 5em;
    color: rgb(225, 221, 255);
}

h2 {
    font-size: 1.8em;
}

p {
    font-size: 1.2rem;
    color: rgb(12, 12, 12);
}