
.game-timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

.game-row {
    display: flex;
    gap: 500px;
    z-index: 1;
}

.ligne-du-temps {
    z-index: 0;
}