
.game-timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.game-row {
    display: flex;
    justify-content: flex-start;
    gap: 500px;
    z-index: 1;
}

.date-row {
    display: flex;
    align-items: center;
    gap: 674px;
    z-index: 1;
}

.ligne-du-temps {
    z-index: 0;
    
    /* overflow-y: scroll;
    scrollbar-color: rgb(110, 85, 255) rgb(95, 0, 204); */
}

/* Fait par Yasmine */

/* .cercle-timeline {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;

    z-index: 50;
    top: 80vh;
    left: 45vw;
} */