
.game-timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.game-row {
    display: flex;
    justify-content: flex-start;
    gap: 500px;
    z-index: 1;
}

.date-row {
    display: flex;
    align-items: center;
    gap: 674px;
    z-index: 1;
}

.ligne-du-temps {
    z-index: 0;

}

/* Fait par Yasmine */

.cercle-timeline {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;

    z-index: 50;
    left: 50vw;
}