
.game-timeline {
    width: 100vw;
    overflow-x: scroll;
}

.timeline-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
}

.game-row {
    display: flex;
    justify-content: flex-start;
    gap: 500px;
    z-index: 1;
}

.date-row {
    display: flex;
    align-items: center;
    gap: 674px;
    z-index: 1;
    margin-top: -90px;
}

.ligne-du-temps {
    margin-top: 30px;
    z-index: 0;

}

.game-hover {
    position: relative;
    transition: transform 0.3s ease-out
}

.game-hover:hover {
    transform: translateY(-15px); 
    transition: all 0.3s;
}


/* Fait par Yasmine */

.cercle-timeline {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;

    z-index: 50;
    left: 50vw;
}