/* Fait par Antoine */

.game-click {
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}